.sponsers-section {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #655546;
  width: 1977px;
  height: 621px;
}

.reviews {
  width: 696px;
  position: absolute;
  font-size: 64px;
  display: inline-block;
  font-family: Montserrat;
  color: #fff;
  text-align: center;
  height: 62px;
  left: 675px;
  top: 119px;
}

.coffeeCup {
  width: 102px;
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  height: 91px;
  object-fit: cover;
  left: 1162px;
  top: 104px;
}

.what-other-people {
  width: 696px;
  position: absolute;
  font-size: 39px;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  height: 78.9px;
  top: 192px;
  left: 679px;
}

.wrapper {
  display: grid;
  width: 1360px;
  height: 200px;
  gap: 50px;
  top: 311px;
  left: 314px;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.image {
  width: 420px;
  height: 200px;
  box-shadow: -40px -40px 100px rgba(0, 0, 0, 0.25),
    40px 40px 100px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  background-color: #dbbca1;
}

.text-opinion {
  width: 100%;
  padding: 5px 44px 72px 36px;
  position: relative;
  font-size: 16px;
  font-family: Poppins;
  color: #000;
  text-align: center;
  display: inline-block;
  height: 107px;
}

.text-ceo {
  width: 129px;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  font-family: Poppins;
  color: #0a424f;
  text-align: center;
  display: inline-block;
  height: 16px;
  top: 162px;
  left: 135px;
}
